.cls1
{
    background-color:bisque;
    display: inline-block;
    border: 3px solid black;
    width: 1000px;
    height: 20px;
}

.cls2
{
    
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    margin-left:20px;
    background-color: aqua;
}

.cls3
{
    background-color: darkblue;
}